ClassString/ClassString.vcxproj.user
ClassString/.vs/ClassString/v16/.suo
ClassString/.vs/ClassString/v16/Browse.VC.db
ClassString/.vs/ClassString/v16/Browse.VC.db-shm
ClassString/.vs/ClassString/v16/Browse.VC.db-wal
ClassString/.vs/ClassString/v16/Browse.VC.opendb
ClassString/.vs/ClassString/v16/ipch/AutoPCH/bbb6c7dd37dcb62a/CLASSSTRING.ipch
ClassString/Debug/ClassString.exe
ClassString/Debug/ClassString.exe.recipe
ClassString/Debug/ClassString.ilk
ClassString/Debug/ClassString.log
ClassString/Debug/ClassString.obj
ClassString/Debug/ClassString.pdb
ClassString/Debug/ClassString.vcxproj.FileListAbsolute.txt
ClassString/Debug/vc142.idb
ClassString/Debug/vc142.pdb
ClassString/Debug/ClassString.tlog/CL.command.1.tlog
ClassString/Debug/ClassString.tlog/CL.read.1.tlog
ClassString/Debug/ClassString.tlog/CL.write.1.tlog
ClassString/Debug/ClassString.tlog/ClassString.lastbuildstate
ClassString/Debug/ClassString.tlog/link.command.1.tlog
ClassString/Debug/ClassString.tlog/link.read.1.tlog
ClassString/Debug/ClassString.tlog/link.write.1.tlog
ClassString/.vs/ClassString/v16/ipch/AutoPCH/4f675a2b93c7d060/AWSOMESTRING.ipch
ClassString/.vs/ClassString/v16/ipch/AutoPCH/a9a77531e887363f/AWSOMEITERATOR.ipch
ClassString/Debug/AwsomeIterator.obj
ClassString/Debug/AwsomeString.obj
